[submodule "php"]
	path = php
	url = git://github.com/opscode-cookbooks/php.git
[submodule "apache2"]
	path = apache2
	url = git://github.com/opscode-cookbooks/apache2.git
[submodule "openssl"]
	path = openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "mysql"]
	path = mysql
	url = git://github.com/cjoudrey/mysql.git
[submodule "percona"]
	path = percona
	url = git://github.com/phlipper/chef-percona.git
[submodule "apt"]
	path = apt
	url = git://github.com/paulsschwarz/apt.git
[submodule "build-essential"]
	path = build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "xml"]
	path = xml
	url = git://github.com/opscode-cookbooks/xml.git
